.testbig{
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
}
.test2{
    width: 100%;
    height: 600px;
}
.test1{
    padding-top: 61px;
    width: 100%;
    height: 318px;
}
.clint{
    display: flex;
    flex-direction: row;
}
.testimoni{
    font-weight: 700;
    padding-top: 40px;
    padding-left: 20px;
}
.testcard {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    border-radius:6px;
    text-align: center;
    border: 1px solid #e4ebea;
    background-color: #f8f8f8;
    height:70px;
    transition: 1s;
    margin-top:30px;
  }
  .i1{
    padding-top: 10px;
  }
  .i2{
    padding-top: 14px;
  }
  .i4{
    padding-top: 14px;
  }
  .i5{
    padding-top: 15px;
  }
  .i3{
    padding-bottom: 10px;
  }
  .i6{
    padding-bottom: 0px;
  }
  .testpart1{
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.1);
    border: 1px solid #e4ebea;
    height: 236px;
    cursor: pointer;
    margin-left:110px;
    background-color: white;
    transition: 1s;
    width: 82%;
  }
  .testpart2{
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.1);
    border: 1px solid #e4ebea;
    height: 236px;
    cursor: pointer;
    background-color: white;
    transition: 1s;
    width: 82%;
  }
  .testpart{
    margin-top:-400px;
  }
  .testpara{
   
    color: gray;
  }
  .devimg1{
    width: 12%;
    padding-top: 30px;
    padding-bottom: 11px;
    margin-left: 33px;
  }
  .devpart{
    display: flex;
    flex-direction: row;
  }
  .devpara{
    padding-top: 27px;
    margin-left: 14px;
    font-size: 20px;
    font-weight: 700;
  }
  .devsubpara{
    font-size: 15px;
    color: gray;
    font-weight: 400;
  }
  .devellast{
    padding-top: 10px;
    padding-left: 24px;
    color: gray;
    font-size: 15px;
  }
  @media(max-width:991px){
    .test1{
      width: 43%;
      height: 97%;
      margin-top: 0px;

  }
 

    .testpart1 {
      height: 182px;
      margin-left: 45px;
      width: 83%;
  }
  .devellast {
    font-size: 9px;
  }
  .devimg1 {
    width: 19%;}

    .test2 {
      height: 512px;
}
.testpart2{
margin-top: 10px;
margin-left: 10px;
height: 177px;}
  }
  
  